/**
 * GLOBAL
 */

html {
	position: relative;
	min-height: 100%;
	overflow-y: scroll;
}

body {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	margin-bottom: 215px;
}

* {
	outline: 0!important;
}


/**
 * GENERAL
 */

a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	color: #59379E;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}

.img-centered {
	margin: 0 auto;
}


/**
 * NAVBAR
 */

.navbar {
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
	color: #fff;
	font-weight: 400;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #333;
}

.google-plus {
	color: #fff;
	background-color: #dd4b39!important;
	cursor: pointer;
}
.google-plus:hover, .google-plus:focus, .google-plus:active {
	color: #fff;
	background-color: #c23321!important;
}


/**
 * SECTIONS
 */

section {
	padding: 10px 0;
}

section h2 {
	margin: 0;
	font-size: 3em;
}

.ac-container p {
	margin: 5px;
}


/**
 * TABLES
 */

table {
	table-layout: auto;
}

table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 1px;
}

@media (max-width: 768px) {
	.resize-hide {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	div.dataTables_length, div.dataTables_filter {
		text-align: justify;
	}
}


/**
 * ALERTS
 */

.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}


/**
 * BUTTONS
 */

.btn-center {
	display: table;
	margin: 0 auto;
}


/**
 * FOOTER
 */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 215px;
}

footer .footer-above {
	color: #fff;
	background-color: #59379E;
	padding: 50px;
}

footer .footer-below {
	color: #fff;
	background-color: #222;
	padding: 25px 0;
}