<div class="row">
	<div class="col-lg-12 text-center">
		<h2>Units</h2>
		<hr class="star-primary">
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Create Unit</div>
			<div class="panel-body">
				<form name="createForm" class="form-horizontal" data-ng-submit="create(createForm.$valid)" novalidate>
					<div class="form-group">
						<label for="unit_title" class="col-sm-2 control-label">Title</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="unit_title" id="unit_title" data-ng-model="unit.unit_title" required />
							<span data-ng-show="createForm.unit_title.$invalid && !createForm.unit_title.$pristine" class="help-block">Name is required</span>
						</div>
					</div>
					<div class="form-group">
						<label for="unit_code" class="col-sm-2 control-label">Code</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="unit_code" id="unit_code" data-ng-model="unit.unit_code" required />
							<span data-ng-show="createForm.unit_title.$invalid && !createForm.unit_title.$pristine" class="help-block">Code is required</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary" data-ng-disabled="createForm.$invalid">Submit</button>
							<button type="button" class="btn btn-default" data-ng-click="cancel()">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>